/*
 * VARIABLES
 */

@import 'globals';

/*
 * HELPERS / MIXINS / LIBS / RESETS
 */

@import 'utils/easing';
@import 'utils/mixins';
@import 'utils/normalise';
@import 'utils/helpers';
@import 'utils/retina';
@import 'utils/responsive';
@import 'utils/reset';
@import 'utils/filters';


/*
 * ICONS
 */

@import 'icons';

/*
 * FONTS
 */

@import 'fonts';

/*
 * VENDORS
 */

/*
 * CORE
 */

@import 'core/core';

@import 'slick/slick';
@import 'slick/slick-theme';

/*
 * VIEWS
 */

/*
 *
 *
 *
 *
 * FOR SAKE OF EXAMPLE APPLICATION, DELETE WHEN BEGIN BUILDING APP
 *
 *
 *
 *
 */

$red    : #d02a40;
$blue   : #2773be;
$yellow : #e79d33;

$alpha : .9;
$max-width : 900px;

$red-alpha    : rgba(208, 42, 64, $alpha);
$blue-alpha   : rgba(39, 115, 190, $alpha);
$yellow-alpha : rgba(231, 157, 51, $alpha);

.video-js
{
    margin: 0 auto;
}

* {
    // cursor: none
}
 h1
 {
    @include font-size(4);
 }

 p
 {
    @include font-size(1.5);
 }

 body
 {
    // overflow: hidden;
 }

 .wrapper
 {
    display: block;
 }

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 12px;

    i {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 400px;
    }

    &.page-home {
        background: #f6f6f6;
    }
}

.overlays
{
    position: absolute;
    background-color: rgba(246, 246, 246, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    display: table;


    .object-list-container
    {
        max-width: $max-width;
        margin: 0 auto;
        opacity: 0;
    }

    &.overlay-content
    {
        $size-shape : 100px;
        $icon-size : 60px;

        .close-button
        {
            cursor: pointer;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            opacity: 0;
            // border: 1px solid black;

            span
            {
                position: relative;
                font-size: 60px;
                color: black;
                top: auto;
            }
        }

        .triangle
        {
            width: 0;
            height: 0;
            border-left: ($size-shape/2) solid transparent;
            border-right: ($size-shape/2) solid transparent;
            border-bottom: $size-shape * (sqrt(3)/2) solid $blue-alpha;
            img
            {
                width: $size-shape * .7;
                height: $size-shape * .7;
                @include transform(translate(-50%));
                margin-top: 15px;
            }
        }

        .square
        {
            width: $size-shape * .9;
            height: $size-shape * .9;
            background-color: $red-alpha;
            img
            {
                width: $size-shape * .9;
                height: $size-shape * .9;
            }
        }

        .circle
        {
            width: $size-shape;
            height: $size-shape;
            border-radius: 100%;
            background-color: $yellow-alpha;
            img
            {
                @include filter(invert, -1);
            }
        }

        .container
        {
            margin: 0 auto;
            max-width: $max-width;
            position: relative;
            text-align: center;
            display: table-cell;
            vertical-align: middle;

            .container-shape
            {
                opacity: 0;
                width: $size-shape;
                margin: 30px auto;
                img
                {
                    @include filter(invert, 1);
                }
            }

            .project-name-container
            {
                letter-spacing: 1.5px;
                @include font-size(1.5);
                opacity: 0;

                &>div
                {
                    display: inline-block;
                    font-weight: bold;
                    @include font-size(2);
                }
            }

            hr
            {
                max-width: $max-width - 250;
                margin-top: 30px;
                opacity: 0;
            }

            .breadcrumbs
            {
                $size-shape : 60px;
                $icon-size : 30px;

                height: 90px;
                overflow: hidden;

                display: inline;

                &>div
                {
                    margin: 20px auto 0;
                    padding: 5px 15px;
                    opacity: 0;
                    display: inline-block;
                    cursor: pointer;
                }

                .name-container
                {
                    // display: none;
                    text-align: center;
                    margin: 0 auto;
                    p
                    {
                        display: inline-flex !important;
                        @include font-size(.7);
                        max-width: 60px;
                        @include rem-fallback(line-height, 1.5);
                        margin-top: 5px;
                    }
                }

                img
                {
                    @include filter(invert, 1);
                }

                .triangle
                {
                    width: 0;
                    height: 0;
                    border-left: ($size-shape/2) solid transparent;
                    border-right: ($size-shape/2) solid transparent;
                    border-bottom: $size-shape * (sqrt(3)/2) solid $blue-alpha;
                    img
                    {
                        width: $size-shape * .7;
                        height: $size-shape * .7;
                        margin-top: 10px;
                        @include transform(translate(-50%));
                    }
                }

                .square
                {
                    width: $size-shape * .9;
                    height: $size-shape * .9;
                    background-color: $red-alpha;
                    img
                    {
                        width: $size-shape * .9;
                        height: $size-shape * .9;
                    }
                }

                .circle
                {
                    width: $size-shape;
                    height: $size-shape;
                    border-radius: 100%;
                    background-color: $yellow-alpha;
                }
            }
        }

        $size-shape : 120px;
        $icon-size : 30px;
        $margin : 3;

        .title-container
        {
            margin: 0;
            opacity: 0;
        }

        .content
        {
            opacity: 0;
        }

        p
        {
            margin: 0 auto;
            @include rem-fallback(line-height, 2.5);
            max-width: $max-width - 100;
        }

        ul.lang-buttons
        {
            opacity: 0;
            list-style: none;
            margin: 0 auto;
            @include font-size(1.5);
            border: 3px solid black;
            display: inline-block;

            li
            {
                padding: 7px 25px;
                display: inline-block;
                cursor: pointer;

                &[data-selected="true"]
                {
                    background-color: black;
                    color: white;
                }

                &[data-selected="false"]
                {
                    background-color: white;
                    color: black;
                }
            }
        }

        .video-player
        {
            @include rem-fallback(margin-top, $margin);
        }
    }

}

