/*
 * VARIABLES
 */

@import 'globals';

/*
 * HELPERS / MIXINS / LIBS / RESETS
 */

@import 'utils/easing';
@import 'utils/mixins';
@import 'utils/normalise';
@import 'utils/helpers';
@import 'utils/retina';
@import 'utils/responsive';
@import 'utils/reset';

/*
 * ICONS
 */

@import 'icons';

/*
 * FONTS
 */

@import 'fonts';

/*
 * VENDORS
 */

/*
 * CORE
 */

@import 'core/core';

/*
 * VIEWS
 */

/*
 *
 *
 *
 *
 * FOR SAKE OF EXAMPLE APPLICATION, DELETE WHEN BEGIN BUILDING APP
 *
 *
 *
 *
 */

 $red    : #d02a40;
 $blue   : #2773be;
 $yellow : #e79d33;

 $alpha : .8;

 $red-alpha    : rgba(208, 42, 64, $alpha);
 $blue-alpha   : rgba(39, 115, 190, $alpha);
 $yellow-alpha : rgba(231, 157, 51, $alpha);

 h1
 {
    @include font-size(5);
 }

 p
 {
    @include font-size(1.5);
 }

 body
 {
    overflow: hidden;
 }

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 12px;

    i {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 400px;
    }

    &.page-home {
        background: #f6f6f6;
    }
}

.overlays
{
    position: absolute;
    background-color: rgba(246, 246, 246, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    display: table;


    &.overlay-content
    {
        $size-shape : 120px;
        $icon-size : 30px;

        span
        {
            position: relative;
            font-size: $icon-size;
            color: white;
            top: ($size-shape / 2) - $icon-size / 2;
        }

        .triangle
        {
            width: 0;
            height: 0;
            border-left: ($size-shape/2) solid transparent;
            border-right: ($size-shape/2) solid transparent;
            border-bottom: $size-shape * (sqrt(3)/2) solid $blue-alpha;
            span
            {
                top: 45px;
                left: -15px;
            }
        }

        .square
        {
            width: $size-shape * .9;
            height: $size-shape * .9;
            background-color: $yellow-alpha;
            span
            {
                top: ($size-shape / 1.8) - ($icon-size);
            }
        }

        .circle
        {
            width: $size-shape;
            height: $size-shape;
            border-radius: 100%;
            background-color: $red-alpha;
        }

        .container
        {
            margin: 0 auto;
            max-width: 1020px;
            position: relative;
            text-align: center;
            display: table-cell;
            vertical-align: middle;

            .container-shape
            {
                width: 120px;
                margin: 0 auto;
                @include rem-fallback(margin-top, 3);
            }

            .breadcrumbs
            {
                $size-shape : 40px;
                $icon-size : 20px;

                display: inline;

                &>div
                {
                    display: inline-block;
                    padding: 5px;
                    cursor: pointer;
                }

                .name-container
                {
                    display: none;
                }

                span
                {
                    position: relative;
                    font-size: $icon-size;
                    color: white;
                    top: ($size-shape / 2) - $icon-size / 2;
                }

                .triangle
                {
                    width: 0;
                    height: 0;
                    border-left: ($size-shape/2) solid transparent;
                    border-right: ($size-shape/2) solid transparent;
                    border-bottom: $size-shape * (sqrt(3)/2) solid $blue-alpha;
                    span
                    {
                        top: $size-shape / 4;
                        left: -$size-shape / 4.4;
                    }
                }

                .square
                {
                    width: $size-shape * .9;
                    height: $size-shape * .9;
                    background-color: $yellow-alpha;
                    span
                    {
                        top: ($size-shape / 1.65) - ($icon-size);
                    }
                }

                .circle
                {
                    width: $size-shape;
                    height: $size-shape;
                    border-radius: 100%;
                    background-color: $red-alpha;
                }
            }
        }

        $margin : 3;

        h1
        {
            @include rem-fallback(margin-top, $margin);
        }

        p
        {
            margin: 0 auto;
            @include rem-fallback(margin-top, $margin);
            @include rem-fallback(line-height, 2.5);
            max-width: 800px;
        }

        ul.lang-buttons
        {
            list-style: none;
            margin: 0 auto;
            @include rem-fallback(margin-top, $margin);
            @include font-size(1.5);
            border: 3px solid black;
            display: inline-block;

            li
            {
                padding: 7px 25px;
                display: inline-block;
                cursor: pointer;

                &[data-selected]
                {
                    background-color: black;
                    color: white;
                }
            }
        }

        .video-player
        {
            @include rem-fallback(margin-top, $margin);
        }
    }

    &.overlay-diagram{

        $size-shape : 70px;

        .triangle
        {
            width: 0;
            height: 0;
            border-left: ($size-shape/2) solid transparent;
            border-right: ($size-shape/2) solid transparent;
            border-bottom: $size-shape * (sqrt(3)/2) solid $blue-alpha;
        }

        .square
        {
            width: $size-shape * .9;
            height: $size-shape * .9;
            background-color: $yellow-alpha;
        }

        .circle
        {
            width: $size-shape;
            height: $size-shape;
            border-radius: 100%;
            background-color: $red-alpha;
        }

        .container
        {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        svg
        {
            top: 50%;
            left: 50%;
            position: absolute;
            transform-origin: 0 0;


            &#line1
            {
                margin-left: -1px;
                @include transform(rotate(-90deg));
            }

            &#line2
            {
                @include transform(rotate(-24deg));
            }

            &#line3
            {
                @include transform(rotate(49deg));
            }

            &#line4
            {
                @include transform(rotate(127deg));
            }

            &#line5
            {
                @include transform(rotate(204deg));
            }
        }

        .piece
        {
            position: fixed;
            @include transform(translateX(-50%) translateY(-50%));

            span
            {
                font-size: 20px;
                position: absolute;
                top: $size-shape/2;
                left: 50%;
                color: white;
                @include transform(translateX(-50%) translateY(-50%));
            }
            div:nth-child(1)
            {
                top: 50%;
                left: 50%;
            }
            div:nth-child(2)
            {
                margin-top: 10px;
                text-align: center;
                font-weight: bold;
                font-size: 11px;
                text-transform: uppercase;
            }
        }

        .center-piece
        {
            @extend .piece;
        }

        $distance : 140px;

        .top-center-piece
        {
            @extend .piece;
            @include transform(translateX(-50%) translateY(-$distance - $size-shape));
        }

        .top-right-piece
        {
            @extend .piece;
            @include transform(translateX($distance) translateY(-75px - $size-shape/2));
        }

        .top-left-piece
        {
            @extend .piece;
            @include transform(translateX(-$distance - $size-shape) translateY(-75px - $size-shape/2));
        }

        .bottom-right-piece
        {
            @extend .piece;
            @include transform(translateX(95px) translateY(116px));
        }

        .bottom-left-piece
        {
            @extend .piece;
            @include transform(translateX(-95px - $size-shape) translateY(116px));
        }
    }
}

