/*
 * VARIABLES
 */

@import 'globals';

/*
 * HELPERS / MIXINS / LIBS / RESETS
 */

@import 'utils/easing';
@import 'utils/mixins';
@import 'utils/normalise';
@import 'utils/helpers';
@import 'utils/retina';
@import 'utils/responsive';
@import 'utils/reset';
@import 'utils/filters';


/*
 * ICONS
 */

@import 'icons';

/*
 * FONTS
 */

@import 'fonts';

/*
 * VENDORS
 */

/*
 * CORE
 */

@import 'core/core';

@import 'slick/slick';
@import 'slick/slick-theme';

/*
 * VIEWS
 */

/*
 *
 *
 *
 *
 * FOR SAKE OF EXAMPLE APPLICATION, DELETE WHEN BEGIN BUILDING APP
 *
 *
 *
 *
 */

$red    : #d02a40;
$blue   : #2773be;
$yellow : #e79d33;

$alpha : .9;
$max-width : 900px;

$red-alpha    : rgba(208, 42, 64, $alpha);
$blue-alpha   : rgba(39, 115, 190, $alpha);
$yellow-alpha : rgba(231, 157, 51, $alpha);

body {
    font-family: 'Avenir-Roman';
}

.video-js
{
    margin: 31px auto !important;
}

* {
    // cursor: none
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
 h1
 {
    // @include font-size(4);
    // font-weight: bold;
    font-size: 36px;
    font-family: 'Avenir-Black';
    letter-spacing: 2px;
 }

 p
 {
    @include font-size(1.5);
    letter-spacing: 1.1px;
    @include rem-fallback(line-height, 2.8);
 }

 body
 {
    // overflow: hidden;
 }

 .wrapper
 {
    display: block;
 }

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 12px;

    i {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 400px;
    }

    &.page-home {
        background: #f6f6f6;
    }
}

.overlays
{
    position: absolute;
    background-color: rgba(246, 246, 246, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    display: table;
    z-index: 30;


    .object-list-container
    {
        max-width: 850px;
        margin: 0 auto;
        opacity: 0;

        .list-background-image
        {
            overflow: hidden;
            max-width: 600px;
            max-height: 400px;
            height: 400px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
        }
    }

    &.overlay-help
    {
        p
        {
            opacity: 0
        }

        h1
        {
            opacity: 0;
        }
    }

    &.overlay-content, &.overlay-help
    {
        $size-shape : 100px;
        $icon-size : 60px;

        background-color: rgba(246, 246, 246, .90);

        .desc
        {
            max-width: 500px;
            margin: 20px auto;
        }

        .close-button
        {
            cursor: pointer;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            opacity: 0;
            // border: 1px solid black;

            span
            {
                position: relative;
                font-size: 60px;
                color: black;
                top: auto;
            }
        }

        .triangle
        {
            width: 0;
            height: 0;
            border-left: ($size-shape/2) solid transparent;
            border-right: ($size-shape/2) solid transparent;
            border-bottom: $size-shape * (sqrt(3)/2) solid $blue-alpha;
            img
            {
                width: $size-shape * .4;
                height: $size-shape * .4;
                @include transform(translate(-50%));
                margin-top: 32px;
            }
        }

        .square
        {
            width: $size-shape * .9;
            height: $size-shape * .9;
            background-color: $red-alpha;
            img
            {
                width: $size-shape * .5;
                height: $size-shape * .5;
                margin-top: 20px;
            }
        }

        .circle
        {
            width: $size-shape;
            height: $size-shape;
            border-radius: 100%;
            background-color: $yellow-alpha;
            img
            {
                // @include filter(invert, -1);
                @include transform(scale(.7));
            }
        }

        .container
        {
            margin: 0 auto;
            max-width: $max-width;
            position: relative;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            top: -80px;

            .container-shape
            {
                opacity: 0;
                width: $size-shape;
                margin: 30px auto;
                img
                {
                    // @include filter(invert, 1);
                }
            }

            .container-shape-help
            {
                display: inline;
                width: $size-shape;
                margin: 20px auto;
                text-align: center;

                &>div
                {
                    display: inline-block;
                    margin: 20px 20px 30px;
                    opacity: 0;
                    text-align: center;
                    // vertical-align: top;
                    &>div:not(.label)
                    {
                        @include transform(scale(.7));
                        margin: 0px auto 5px;
                    }
                    .label
                    {
                        @include font-size(1.5);
                        font-family: 'Avenir-Black';
                        letter-spacing: 1px;
                        max-width: 134px;
                    }
                }
            }

            .project-name-container
            {
                letter-spacing: 1.5px;
                @include font-size(1.5);
                opacity: 0;

                &>div
                {
                    display: inline-block;
                    // font-weight: bold;
                    @include font-size(2);
                    // font-size: 30px;
                    font-family: 'Avenir-Black';
                    max-width: $max-width - 420;
                }
            }

            hr
            {
                max-width: $max-width - 300;
                margin-top: 30px;
                opacity: 0;
                border:none;
                background: black;
                height: 1px;
            }

            .license
            {
                @include font-size(1.1);
                margin: 10px 0px 0px;
                color: rgba(0,0,0,.8);
                line-height: 17px;
            }

            .credits-container
            {
                margin-top: 30px;
                font-size: 10px !important;

                span {
                    display: block;
                    margin: 10px auto;
                    font-size: 12px !important;
                    line-height: 18px;
                    // font-size: 6px;
                }

                b
                {
                    font-weight: bold;
                }
            }

            .breadcrumbs
            {
                $size-shape : 60px;
                $icon-size : 30px;

                height: 90px;
                overflow: hidden;

                display: inline;


                &>div
                {
                    margin: 40px auto 0;
                    padding: 5px 15px;
                    opacity: 0;
                    display: inline-block;
                    cursor: pointer;
                    text-align: center;
                }

                .name-container
                {
                    // display: none;
                    text-align: center;
                    margin: 0 auto;
                    p
                    {
                        display: none;
                        @include font-size(.8);
                        max-width: 80px;
                        @include rem-fallback(line-height, 1.3);
                        margin-top: 12px;
                        letter-spacing: 1px !important;
                        font-family: 'Avenir-Black';
                        text-transform: capitalize;
                    }

                    p:first-letter
                    {
                        text-transform: capitalize;
                    }
                }

                img
                {
                    // @include filter(invert, 1);
                }

                .triangle
                {
                    width: 0;
                    height: 0;
                    border-left: ($size-shape/2) solid transparent;
                    border-right: ($size-shape/2) solid transparent;
                    border-bottom: $size-shape * (sqrt(3)/2) solid $blue-alpha;
                    margin: 0 auto;
                    img
                    {
                        width: $size-shape * .4;
                        height: $size-shape * .4;
                        margin-top: 18px;
                        @include transform(translate(-50%));
                        display: none;
                    }
                }

                .square
                {
                    width: $size-shape * .8;
                    height: $size-shape * .8;
                    background-color: $red-alpha;
                    margin: 0 auto;
                    img
                    {
                        width: $size-shape * .6;
                        height: $size-shape * .6;
                        margin-top: 10px;
                        display: none;
                    }
                }

                .circle
                {   
                    margin: 0 auto;
                    width: $size-shape;
                    height: $size-shape;
                    border-radius: 100%;
                    background-color: $yellow-alpha;
                }
            }
        }

        $size-shape : 120px;
        $icon-size : 30px;
        $margin : 3;

        .title-container
        {
            margin: 60px 0 0 !important;
            opacity: 0;
        }

        .content
        {
            opacity: 0;
        }

        p
        {
            margin: 0 auto;
            @include rem-fallback(line-height, 2.4);
            letter-spacing: 2px;
            max-width: $max-width - 420;
        }

        ul.lang-buttons
        {
            opacity: 0;
            list-style: none;
            margin: 0 auto;
            @include font-size(1.5);
            border: 3px solid black;
            display: inline-block;

            li
            {
                padding: 7px 25px;
                display: inline-block;
                cursor: pointer;

                &[data-selected="true"]
                {
                    background-color: black;
                    color: white;
                    font-family: 'Avenir-Black';
                }

                &[data-selected="false"]
                {
                    background-color: transparent;
                    color: black;
                }
            }
        }

        .video-player
        {
            @include rem-fallback(margin-top, $margin);
        }
    }

}
.tooltip {
    pointer-events : none;
    position: fixed;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -200px;
    width:180px;
    height: 115px;
    z-index: 20;
    text-align: center;
    padding-top: 40px;
    background: url("../img/icons/tooltip.svg") no-repeat;
    background-size: 180px 115px;
    background-position: center center;
    transition: all .3s ease-out 1.51s;
    overflow: hidden;

    .label {
        // position: absolute;
        display: block;
        font-size: 1.5em;
        font-family: 'Avenir-Black';

        span {
            display: block;
            float: left;
            position: relative;
        }

    }

    &.hide {
        opacity: 0;
        transition: all .2s ease-out;
    }
}
video
{
    background: #f6f6f6;
}
canvas {
    position: fixed;
    z-index: 1;
}

#preloader
{
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    .preload-container
    {
        vertical-align: middle;
        display: table-cell;
        width: 100%;
        height: 100%;
    }
}

.loader {
  font-size: 20px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}

$color : $blue;

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em $color, 2em -2em 0 0em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 0em $color;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em $color, 2em -2em 0 0.2em $color, 3em 0em 0 0em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 0em $color, 3em 0em 0 0.2em $color, 2em 2em 0 0em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 0em $color, 2em 2em 0 0.2em $color, 0em 3em 0 0em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 0em $color, 0em 3em 0 0.2em $color, -2em 2em 0 0em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 0em $color, -2em 2em 0 0.2em $color, -3em 0em 0 0em $color, -2em -2em 0 -0.5em $color;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 0em $color, -3em 0em 0 0.2em $color, -2em -2em 0 0em $color;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 0em $color, -3em 0em 0 0em $color, -2em -2em 0 0.2em $color;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em $color, 2em -2em 0 0em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 0em $color;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em $color, 2em -2em 0 0.2em $color, 3em 0em 0 0em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 0em $color, 3em 0em 0 0.2em $color, 2em 2em 0 0em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 0em $color, 2em 2em 0 0.2em $color, 0em 3em 0 0em $color, -2em 2em 0 -0.5em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 0em $color, 0em 3em 0 0.2em $color, -2em 2em 0 0em $color, -3em 0em 0 -0.5em $color, -2em -2em 0 -0.5em $color;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 0em $color, -2em 2em 0 0.2em $color, -3em 0em 0 0em $color, -2em -2em 0 -0.5em $color;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 0em $color, -3em 0em 0 0.2em $color, -2em -2em 0 0em $color;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em $color, 2em -2em 0 -0.5em $color, 3em 0em 0 -0.5em $color, 2em 2em 0 -0.5em $color, 0em 3em 0 -0.5em $color, -2em 2em 0 0em $color, -3em 0em 0 0em $color, -2em -2em 0 0.2em $color;
  }
}

.table {
    width: 100%;
    height: inherit;
    min-height: inherit;
    position: absolute;
    display:table;
    top: 0;
    left: 0;
    text-align: center;
    pointer-events: none;
}

.tableCell {
    display: table-cell;
    vertical-align: middle !important;
    margin: auto;
    width: 192px;
    text-align:center;
    position:relative;
}

// .toolTip {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     left: 50%;
//     text-align: center;


//     &.active {
//         * {
//             border-color: #e79d33 !important;
//             transition: all .2s linear;
//             transition-property: border-color, color;
//         }
//         svg {
//             path {
//                 stroke: #e79d33 !important;   
//                 transition: stroke .2s linear; 
//             }
            
//         }

//         .text {
//             color: #e79d33 !important;
//         }
//     }

//     .textBoxWrapper {
//         text-align: center;
//         width: auto;
//         display: inline-block;
//         position: relative;
//         padding: 0px;
//         height: 140px;
//         // min-width: ;
//         /*border: 2px solid #000;*/
//         margin: auto;
        
//     }

//     .arrow {
//         margin: auto;
//         position: relative;
//         top: 6px;
//         display: block;
//         overflow: visible !important;
//     }

//     .text {
//         padding: 0px 30px;
//         box-sizing: border-box;
//         letter-spacing: 4px;
//         text-transform: uppercase;
//         font-weight: bold;
//         color: #000 !important;
//     }

//     .textBoxContainer {
//         text-align: center;
//         width: 100%;
//         height: 100%;
//         float: center;
//         z-index: -1;
//         border-top: 4px solid #000;
//         margin: auto;
//         position: relative;
//         transform: translateY(-148px);
//         top: 160px;
//     }

//     .leftBoarder {
//         height: 100%;
//         width: 30%;
//         float: left;
//         display: inline-block;
//         border-left: 4px solid #000;
//         border-top: 4px solid #000;
//         border-bottom: 4px solid #000;
//         position: absolute;
//         left: 0;
//         bottom: -12px;
//     }

//     .rightBoarder {
//         height: 100%;
//         width: 30%;
//         float: right;
//         display: inline-block;
//         border-right: 4px solid #000;
//         border-top: 4px solid #000;
//         border-bottom: 4px solid #000;
//         position: relative;
//         display: inline-block;
//         transform: translateY(-288px);
//         /* Will's */
//         position: absolute;
//         right: 0;
//         bottom: -300px;
//     }

// }

.table {
    width: 100%;
    height: inherit;
    min-height: inherit;
    position: absolute;
    display:table;
    top: 0;
    left: 0;
    text-align: center;
    
}




.tableCell {
    display: table-cell;
    vertical-align: middle !important;
    margin: auto;
    width: 100%;
    text-align:center;
    position:relative;
}

.toolTip {
    position: relative;
    margin: auto;
    top: 0;
    left: 50%;
    text-align: center;
    z-index: 0;



    *,
    *:before,
    *:after {
        box-sizing: content-box;
    }

    &.active {
        * {
            border-color: #e79d33 !important;
            transition: all .2s linear;
            transition-property: border-color, color;
        }
        svg {
            path {
                stroke: #e79d33 !important;   
                transition: stroke .2s linear; 
            }
            
        }

        .text {
            color: #e79d33 !important;
        }
    }
}


.textBoxWrapper {
    text-align: center;
    width: auto;
    display: inline-block;
    position: relative;
    padding: 0px;
    height: 140px;
    /*border: 2px solid #000;*/
    margin: auto;
    
}

.arrow {
    margin: auto;
    position: relative;
    top: 2px;
    display: block;
    overflow: visible !important;
}

.text {
    padding: 5px 35px;
    min-width: 170px;
    box-sizing: border-box;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000 !important;
    font-size: 18px;
    font-family: 'Avenir-Black';

    span:first-of-type {
        margin: 0px 0px -15px;
        display: block;
    }
}

.textBoxContainer {
    text-align: center;
    width: 100%;
    height: 100%;
    float: center;
    z-index: -1;
    border-top: 4px solid #000;
    margin: auto;
    position: relative;
    top: -148px;
}

.leftBoarder {
    height: 100%;
    width: 32%;
    float: left;
    display: inline-block;
    border-left: 4px solid #000;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.rightBoarder {
    height: 100%;
    width: 32%;
    float: right;
    display: inline-block;
    border-right: 4px solid #000;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    position: relative;
    display: inline-block;
    top: -288px;
}




